td.mat-cell:nth-last-child(1),
.wid {
  width: 200px;
& button {
    width: 150px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inl{
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
